<template name="messageItem">
  <article class="message {{ownClass}}">
    {{#if initialMessage}}
      <aside class="avatar">
        <span class="default-avatar" style="background-color: {{avatarColor}}"></span>
      </aside>
    {{/if}}
    <div class="bubble">
      {{#if initialMessage}}
        <header class="meta">
          <span class="author" style="color: {{avatarColor}}">{{author}}</span>
        </header>
      {{/if}}
      <section class="body">
        {{#markdown}}{{body}}{{/markdown}}
      </section>
    </div>
  </article>
</template>