<template name="home">
  <div id="landing-page">

    <div id="header" class="row">
        <div class="container">
            <h1><img src="images/whispr.png" alt="whispr"></h1>
            <h2>gives anyone a temporary space to chat with their <span>friends</span></h2>
        </div>
    </div>

    <div id="banner" class="row">
        <img src="images/vincentBanner.jpg" alt="image of Man looking at whispr on his laptop">
        <h3><strong>Vincent</strong> uses <span>whispr</span> to check in at the office when he's on a business trip</h3>
        <a href="#" id="create-room" title="Start a whispr"><strong>Start Chatting</strong> <span>No Account Needed</span></a>
    </div>

    <div id="process" class="row">
        <div class="container">

            <div class="columns fifth" id="start">
                <a href="#"><i></i></a>
                <h4><a href="#">Start a whispr</a></h4>
                <p>Anyone can start a whispr - no need for an account. Just click and get started.</p>
            </div>

            <div class="columns fifth" id="share">
                <i></i>
                <h4>Share the Link</h4>
                <p>Send the link to your whispr to anyone you want to chat with.</p>
            </div>

            <div class="columns fifth" id="chatting">
                <i></i>
                <h4>Start Chatting</h4>
                <p>Go ahead - talk about anything you want.</p>
            </div>

            <div class="columns fifth" id="transcript">
                <i></i>
                <h4>Get a Transcript</h4>
                <p>When your chat is over (or has been dormant for 1 hr) we email you a transcript of the chat, and...</p>
            </div>

            <div class="columns fifth" id="deleted">
                <i></i>
                <h4>Your whispr is Deleted</h4>
                <p>Gone from our servers, gone from the web - only the memory remains.</p>
            </div>
        </div>
    </div>

    <div id="more" class="row">
        <div class="container">
            <div class="columns large-4" id="features">
                <h2>Features</h2>
                <ul>
                    <li>
                        <p><strong>No Software to Install</strong> <br>
                        Just works in your browser in any device</p>
                    </li>

                    <li>
                        <p><strong>No Account Required</strong> <br>
                        Just click and get started</p>
                    </li>
                    <li>
                        <p><strong>Chat to anyone</strong> <br>
                        Anyone can use whispr with no prior experience</p>
                    </li>
                    <li>
                        <p><strong>Private and Temporary</strong> <br>
                        You decide who joins, and your chat is deleted when you're finished</p>
                    </li>
                </ul>
            </div>


            <div class="columns large-4" id="proAccount">
                <h2>Get <span class="whispr">whispr</span> Pro</h2>
                <h3>For <strong>$5 a month</strong> a whispr Pro account will give you:</h3>
                <ul>
                    <li>
                        <p><strong>Save and Browse Transcripts</strong> <br>
                        whispr will save your archive your transcripts to browse and search.</p>
                    </li>
                    <li>
                        <p><strong>Unlimited Users in a Chat</strong> <br>
                        Free accounts are limited to 5 people.</p>
                    </li>
                    <li>
                        <p><strong>Custom Domains</strong> <br>
                        Why not whispr at your own domain?</p>
                    </li>
                </ul>
            </div>

            <div class="columns large-4" id="about">
                <h2>About <span class="whispr">whispr</h2>
                <p>whispr was created by <a href="http://rpowell.me/">Rhys Powell</a> and <a href="http://www.jordesign.com">Jordan Gillman</a> as a project at <a href="http://www.hackagong.com">Hackagong 2013</a></p>
                <h3>About Rhys</h3>
                <p>Rhys is a computer science student &amp; hobbyist developer from Wollongong, Australia.</p>
                <h3>About Jordan</h3>
                <p>Jordan is a freelance web designer/front end dev who runs a small studio - <a href="http://www.jordesign.com">Jordesign</a>.
            </div>
        </div>
    </div>

    <div id="cta" class="row">
        <div class="container">
            <h4>What are you waiting for? <a href="#">Start Chatting Now!</a></h4>
        </div>
    </div>

    <div id="footer" class="row">
        <div class="container">
            <p>Copyright &copy; 2013 Rhys Powell &amp; Jordan Gillman</p>
        </div>
    </div>
  </div>
</template>