@import "bourbon/bourbon";
@import "neat/neat";

$accent: #16A085;
$background: #ebf7f5;
$line-height: 24px;
$font-size: 17px;

body {
  padding: 0;
  margin: 0;
  background: $background url(/media/bg.png) repeat-y 66.8% 0;;
  font-size: $font-size;
  line-height: $line-height;
  color: #414141;
  padding-bottom: 90px;
}

#room {
  padding-top: 70px;
}

html {
  font-family: "freight-sans-pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#site-head {
  background: $accent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .container {
    height: 50px;
    @include outer-container;
  }

  .brand svg {
    margin-top: 7px;
  }
}

#site-content {
  @include outer-container;
  background: #ebf7f5 url(media/bg.png) repeat-y 66.8% 0;
  padding-top: 30px;
}

#messages {
  @include span-columns(8);
}

article.message {
  margin-bottom: 10px;
  margin-right: 40px;

  .author {
    display: block;
    font-weight: bold;
  }

  .avatar {
    float: left;
  }


  .default-avatar {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    background-image: url('/media/defaultAvatar.png');
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  .meta {
    margin-bottom: 5px;
    color: #999;
    font-size: 14px;
    line-height: 16px;
  }

  .bubble {
    -webkit-border-radius: 5px;
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08);
    padding: 10px 15px;
    margin: 0 50px 15px 50px;
  }

  &.current-user {
    .avatar {
      float: right;
    }
  }

  .body p:first-child {
    margin: 0;
  }

  p {
    margin-top: $line-height;
    margin-bottom: 0;
    color: #666;
    font-size: 15px;
    line-height: 21px;
  }

  img {
      border: 5px solid #fff;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  }
}

.sidebar {
  @include span-columns(4);
  @include omega;
}

.sidebar h3 {
    margin: 0;
    color: #13a085;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: normal;
}

#room-url {
    margin: 0 0 30px 0;
    padding: 5px 0 5px 10px;
    font-size: 11px;
    color: #666;
    width: 80%;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#room-users {
    margin: 0 0 30px 0; list-style: none;
    padding: 0;;
}
#room-users li {
    margin-bottom: 5px;
    font-size: 14px;
    color: #414141;
}

#change-nickname {
    margin-bottom: 30px;
}
#change-nickname legend {
    font-size: 11px; color: #666666;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 13px;
}

#nickname {
    padding: 3px 2px;
    color: #666;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
}

#close-room {
    display: inline-block;
    padding: 5px 10px;
    background: #13a085;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    -webkit-transition: background .4s ease;

    }

#close-room:hover {
    background:#414141;
}


#message-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: $accent;

  .container {
    @include outer-container;
  }

  form {
    @include span-columns(8);

    textarea {
      display: inline-block;
      background: white;
      border: none;
      border-radius: 5px;
      resize: none;
      width: auto;
      height: $line-height * 2.5;
      font-size: $font-size;
      width: 629px;
      padding: 10px;
      font-size: 15px;
      line-height: 20px;
      color: #666;
    }
  }

  button {
    display: inline-block;
    float: right;
  }

  button {
    background: white;
    line-height: $line-height * 2.5;
    height: $line-height * 2.5;
    padding: 0 40px 0 40px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    border: none;
    background: #414141;
  }
}

#spinner {
  height: 300px;
}

.cover {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.modal {
  background: white;
  z-index: 6;
  position: fixed;
  top: 100px;
  left: 50%;
  width: 400px;
  margin-left: -220px;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
  text-align: center;
}

#anonymous-signup {
  p:first-child {
    margin-top: 0;
  }

  input {
    text-align: center;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: 1px #aaa solid;
  }

  button {
    width: 100%;
    height: 50px;
    background: $accent;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: $line-height;
    cursor: pointer;

    &:hover {
      background: darken($accent, 5);
    }
  }
}

#room-users {
  .user .avatar {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    background-image: url('/media/defaultAvatar.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: bottom center;
    float: left;
    margin-right: 6px;
  }
}

.notification {
  text-align: center;
  color: #999;
}
