@import "bourbon/bourbon";
@import "neat/neat";

$accent: #16A085;
$background: #ebf7f5;
$line-height: 24px;
$font-size: 17px;

body {
  padding: 0;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 90px;
  background: $background;
  color: #414141;
  font-size: $font-size;
  line-height: $line-height;
}

html {
  font-family: "freight-sans-pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#site-head {
  background: $accent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .container {
    height: 50px;
    @include outer-container;
  }

  .brand svg {
    margin-top: 7px;
  }
}

#site-content {
  @include outer-container;
}

#messages {
  @include span-columns(8);
}

article.message {
  margin-bottom: 10px;

  .author {
    display: block;
  }

  .avatar img {
    float: left;
    border-radius: 50%;
  }

  .meta {
    margin-bottom: 5px;
    color: #999;
    font-size: 14px;
    line-height: 16px;
  }

  .bubble {
    -webkit-border-radius: 5px;
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08);
    padding: 10px;
    margin: 0 60px 0 60px;
  }

  &.current-user {
    .avatar img {
      float: right;
    }
  }

  .body p:first-child {
    margin: 0;
  }

  p {
    margin-top: $line-height;
    margin-bottom: 0;
  }
}

.sidebar {
  @include span-columns(4);
}

#message-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: $accent;

  .container {
    @include outer-container;
  }

  form {
    @include span-columns(8);

    textarea {
      display: inline-block;
      background: white;
      border: none;
      border-radius: 5px;
      resize: none;
      width: auto;
      height: $line-height * 2.5;
      font-size: $font-size;
      width: 629px;
      padding: 5px;
    }
  }

  button {
    display: inline-block;
    float: right;
  }

  button {
    background: white;
    line-height: $line-height * 2.5;
    height: $line-height * 2.5;
    padding: 0 40px 0 40px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    border: none;
    background: #414141;
  }
}
