<template name="roomSidebar">
  <aside class="sidebar">
    <h3>Share</h3>

    <input name="url" id="room-url" type="text" readonly="readonly" value="{{url}}">

    <h3>Participants</h3>

    <ul id="room-users">
      {{#each users}}
        <li class="user">
          <span class="avatar" style="background-color: {{profile.color}}"></span>
          <span class="name">{{profile.nickname}}</span>
        </li>
      {{/each}}
    </ul>

    <h3>Settings</h3>


    {{#if currentUser}}
    <form id="change-nickname">
      <legend>Change Nickname</legend>
      <input name="nickname" id="nickname" type="text" value="{{currentNickname}}">
    </form>
    {{/if}}

    <a href="#" id="close-room">Close Room</a>
  </aside>
</template>