<template name="showRoom">
  {{> header}}
  <div id="room">
    {{#if loggingIn}}
      {{> spinner}}
    {{else}}
      {{#unless currentUser}}
        {{> userCreateAnonymous}}
      {{/unless}}

      <section id="messages">
        <article class="notification">
          <span class="body">Welcome to the chat room</span>
        </article>
        {{#each messages}}
          {{> messageItem}}
        {{/each}}
      </section>

      {{> roomSidebar}}

      {{> messageCompose}}
    {{/if}}
  </div>
</template>