<template name="showRoom">
  {{#if loggingIn}}
    {{> spinner}}
  {{else}}
    {{#unless currentUser}}
      <div class="cover"></div>
      <div class="modal" id="anonymous-signup">
        <p>Before we start, we'll need your name:</p>
        <form id="anon-user">
          <input id="name" name="name" type="text">
          <button type="submit">Start Chatting</button>
        </form>
      </div>
    {{/unless}}

    <section id="messages">
      {{#each messages}}
        {{> messageItem}}
      {{/each}}
    </section>

    {{> roomSidebar}}

    {{> messageCompose}}
  {{/if}}
</template>